## Observations and Insights

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [5]:
# Combine the data into a single dataset, getting all of study_results & matching mouse_metadata
merge_mice = pd.merge(study_results, mouse_metadata, on='Mouse ID', how='left')
merge_mice

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,f932,0,45.000000,0,Ketapril,Male,15,29
2,g107,0,45.000000,0,Ketapril,Female,2,29
3,a457,0,45.000000,0,Ketapril,Female,11,30
4,c819,0,45.000000,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
1888,r944,45,41.581521,2,Capomulin,Male,12,25
1889,u364,45,31.023923,3,Capomulin,Male,18,17
1890,p438,45,61.433892,1,Ceftamin,Female,11,26
1891,x773,45,58.634971,4,Placebo,Female,21,30
1892,b879,45,72.555239,2,Stelasyn,Female,4,26

In [6]:
#  Checking the number of mice.
sample = merge_mice["Mouse ID"].nunique()
print(f'There are {sample} mice in the sample test')

There are 249 mice in the sample test

In [7]:
# 1) Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint???
#  - All Mice ID rows where Mouse ID and Timepoint are duplicates or other rows.
# 2) Optional: Get all the data for the duplicate mouse ID. ****  COME BACK TO THIS IF TIME ALLOWS ****
duplicates = merge_mice[merge_mice.duplicated(['Mouse ID', 'Timepoint'])]
duplicates.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
137,g989,0,45.000000,0,Propriva,Female,21,26
360,g989,5,47.570392,0,Propriva,Female,21,26
681,g989,10,49.880528,0,Propriva,Female,21,26
869,g989,15,53.442020,0,Propriva,Female,21,26
1111,g989,20,54.657650,1,Propriva,Female,21,26

In [8]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_mice = merge_mice[merge_mice['Mouse ID']== 'g989'].index
merge_mice.drop(clean_mice, inplace = True)
merge_mice

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,f932,0,45.000000,0,Ketapril,Male,15,29
2,g107,0,45.000000,0,Ketapril,Female,2,29
3,a457,0,45.000000,0,Ketapril,Female,11,30
4,c819,0,45.000000,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
1888,r944,45,41.581521,2,Capomulin,Male,12,25
1889,u364,45,31.023923,3,Capomulin,Male,18,17
1890,p438,45,61.433892,1,Ceftamin,Female,11,26
1891,x773,45,58.634971,4,Placebo,Female,21,30
1892,b879,45,72.555239,2,Stelasyn,Female,4,26

In [9]:
# Checking the number of mice in the clean DataFrame.
clean_sample = merge_mice['Mouse ID'].nunique()
clean_sample
print(f'There are {clean_sample} mice in the clean sample.')

There are 248 mice in the clean sample.

In [43]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# merge_mice.describe()

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# regimen_group = merge_mice.groupby(["Drug Regimen"]).agg({"Tumor Volume (mm3)" : ['mean']})

# Group data by mice ID
regimen_group = merge_mice.groupby('Drug Regimen')

# # Generate various statistics for the tumor volume
tumor_mean = regimen_group[["Tumor Volume (mm3)"]].mean()
tumor_median = regimen_group[["Tumor Volume (mm3)"]].median()
tumor_variance = regimen_group[["Tumor Volume (mm3)"]].var()
tumor_std = regimen_group[["Tumor Volume (mm3)"]].std()
tumor_sem = regimen_group[["Tumor Volume (mm3)"]].sem()

summary_list = pd.concat([tumor_mean, tumor_median, tumor_variance, tumor_std, tumor_sem], axis=1)
summary_list.columns = ['Mean Tumor Volume', 'Median Tumor Volume', 'Tumor Volume Varience', 'Std Dev Tumor Vol', 'Tumor Vol Std Err']
summary_list

,Mean Tumor Volume,Median Tumor Volume,Tumor Volume Varience,Std Dev Tumor Vol,Tumor Vol Std Err
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.320930,50.446266,43.852013,6.622085,0.544332
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398

In [ ]:
# summary_df = pd.merge(tumor_mean, tumor_median, on="Regimen")

# big_buyer_merge = pd.merge(grouped_purchases, grouped_player_avg, on='SN')
# big_buyer_merge

In [ ]:
# Merge all DFs into one summary dataframe.
# Summary = pd.merge(mice_mean, mice_median, on="Mouse ID")

## Summary Statistics

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen